.container {
  background-color: #ffffff;
  min-height: 100vh;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.page-title {
  text-align: center;
}

.select-custom {
  margin-bottom: 1em;
  padding: .25em;
  border: 0;
  border-bottom: 2px solid currentcolor; 
  font-weight: bold;
  letter-spacing: .15em;
  border-radius: 0;   
}
.select-custom:active {
  outline: 0;
  border-bottom-color: grey;
}

.list-icon {
  max-width: 100px;
  max-height: 100px;
}

.still-image {
  width: 200px;
  height: 300px;
}

.poster {
  max-width: 400px;
  max-height: 500px;
}

.non-clickable {
  pointer-events:none;
}

.booking-button {
  background-color: white;
  border: 0px;
}

.booking-button:focus {
  background-color: white;
  border: 0px;
}